h2{color: rgb(5, 238, 56);
    background: linear-gradient(0deg, rgba(15,11,186,1) 0%, rgba(165,0,244,1) 100%);
border: 12px black solid;
}

p{background-color: black;
font-size: larger;
border: 3px white solid;
padding-left: 2cm;
padding-right: 2cm;}
